---
import Footer from "../components/Footer.astro";
import NavigationBar from "../components/NaviggationBar.astro";

import "../styles/global.css";

type Props = {
	title: string;
};

const { title } = Astro.props;
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="description" content="Mohammad Rashed's Website">
		<title>{title}</title>
		<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
		<script is:inline>
			const DARK_THEME_CLASS = "dark";
    		const COLOR_MODE = "COLOR_MODE";
    		const LIGHT_THEME = "LIGHT";
    		const DARK_THEME = "DARK";

			const rootElement = document.documentElement;

			const getInitialColorMode = () => {
        		const previouslySavedColorMode = window.localStorage.getItem(COLOR_MODE);

        		if(previouslySavedColorMode){
        		    return previouslySavedColorMode
        		}
			
        		if(window.matchMedia("prefers-color-scheme: dark").matches) {
        		    return DARK_THEME;
        		}
			
        		return LIGHT_THEME;
    		}

			 const initialColorMode = getInitialColorMode();

			const setInitialColorMode = (mode) => {
        		// set required class on the root element
        		if(mode === LIGHT_THEME) {
        		    rootElement.classList.remove(DARK_THEME_CLASS);
        		} else {
        		    rootElement.classList.add(DARK_THEME_CLASS);
        		}
   			 }

			 setInitialColorMode(initialColorMode);
		</script>
	</head>
	<body>
        <main>
			<NavigationBar />
            <!-- Content of the page -->
            <slot />
			<Footer />
        </main>
	</body>
</html>

<!-- is:global is an attribute to apply the style globally -->
<!-- <style is:global>
	h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	h1 + h2 {
		font-size: 1.1rem;
		margin-top: -1.4rem;
		opacity: 0.9;
		font-weight: 400;
	}

	main {
		max-width: 40rem;
		margin: auto;
	}
</style> -->

