---
import Main from '../layouts/Main.astro';
import Cards from '../components/Cards.astro';
import { Image } from "astro:assets";

 // Astro Component Script Section
const sadCatMeme = "https://i.imgur.com/4FvOKcv.jpeg";
const profilePicture = 'https://media1.tenor.com/m/yNMGjXsoYGUAAAAd/cat-cats.gif';
// import profilePicture from '../assets/images/i1.jpg';
---

<!-- Astro Component Template Section -->

<Main title="Mohammad Rashed">
	<div class="profile">
		<Image class="profile_picture" src={profilePicture} width="100" height="100" alt="Profile Img"/>
		<div class="profile_details">
			<h1>Mohammad Rashed</h1>
			<h2>CEO OF SAD CAT MEMES</h2>
			<p>
				Helping people all across the world enjoy some high quality sad cat memes
			</p>
			
			<Image src={sadCatMeme} width="350" height="350" alt="SAD CAT"/>
		</div>
	</div>
	<Cards cards={[
		{
			title: "Title 1Title 1Title 1",
			gradientFrom: "#818CF8",
			gradientTo: "#D8B4FE",
			to: "/work-summary",
		},
			{
			title: "Title 2Title 2Title 2",
			gradientFrom: "#fde68a",
			gradientTo: "#fca5a5",
			to: "/beyond-tech",
		},
			{
			title: "Title 3Title 3Title 3Title 3",
			gradientFrom: "#6ee7b7",
			gradientTo: "#9333ea",
			to: "/philosophies",
		}
	]}/>

	<div class="featured-blogs">
		<h3 class="featured-blogs__title">Featured Blogs</h3>
		<p class="featured-blogs__description">Opinion pieces that will change everything you know about sad cat memes.</p>
	</div>

	<ol class="blogs">
		<li class="blog__list">
			<a class="blog__link" href="blogs/sadcat-meme-is-the-best">Sad Cat Memes are the new best trend to happen</a>
		</li>
		<li class="blog__list">
			<a class="blog__link" href="blogs/why-sadcat-memes-are-funny">Why Cat Memes are funny</a>
		</li>
		<li class="blog__list">
			<a class="blog__link" href="blogs/sadcat-memes-beats-the-mayonnaise-as-best-meme">Breaking news: Sad Cat Memes beats Patrick's Star Is mayonnaise an instrument as the best meme ever</a>
		</li>
		<li class="blog__list">
			<a class="blog__link" href="blogs/bn-ducks-declare-victory">Breaking news: Ducks 🦆 declare victory over their rival enemy</a>
		</li>
	</ol>
</Main>


<style>

html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profile{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1rem 0 3rem 0;
}

.profile_picture {
	border-radius: 50%;
	margin: 0 2rem 1rem 0;
}
.profile_details {
	flex: 1 0 300px;
}

.profile_details  h1 {
	margin-top: 0;
}

.featured-blogs{
	margin: 0;
	padding: 3rem 0 0 0;
}

.featured-blogs__title {
	font-size: 2rem;
	color: var(--grey-900);
}

.featured-blogs__description {
	margin-top: -1.2rem;
}

.blogs {
	font-size: 1rem;
	font-weight: 500;
}

.blog__list {
	border-bottom: 1px solid var(--grey-200);
}

.blog__link {
	opacity: 1;
	height: 100%;
	display: block;
	padding: 1rem 0;
	color: var(--grey-200);
	text-decoration: none;
	transition: opacity 0.2s ease-in-out;
}

.blog__link:hover {
	opacity: 0.7;
}
</style>
