---
import Main from '../layouts/Main.astro';
import { Image } from "astro:assets";

 // Astro Component Script Section
const sadCatMeme = "https://i.imgur.com/4FvOKcv.jpeg";
import profilePicture from '../assets/images/i1.jpg';
---

<!-- Astro Component Template Section -->

<Main>
	<div class="profile">
		<Image class="profile_picture" src={profilePicture} width="100" height="100" alt="Profile Img"/>
		<div class="profile_details">
			<h1>Mohammad Rashed</h1>
			<h2>CEO OF SAD CAT MEMES</h2>
			<p>
				Helping people all across the world enjoy some high quality sad cat memes
			</p>
			<Image src={sadCatMeme} width="350" height="350" alt="SAD CAT"/>
		</div>
	</div>
</Main>


<style>

html {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.profile{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	padding: 1rem 0 3rem 0;
}

.profile_picture {
	border-radius: 50%;
	margin: 0 2rem 1rem 0;
}
.profile_details {
	flex: 1 0 300px;
}

.profile_details  h1 {
	margin-top: 0;
}


</style>
